@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 0 #232428,
  -1px 1px 0 #232428,
  -1px -1px 0 #232428,
  1px -1px 0 #232428;
}

body {
  background: #232428;
  color: #ededed;
}

header {
  position: absolute;
  width: 100vw;
  height: 100px;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-content: center;
}



header .logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 660px) {
  header .navbar a {
    display: flex;
    flex-direction: row;
  }
}

header .navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 50px;
}

header .navbar a:hover,
header .navbar a.active {
  color: #4b9e6e;
}

body .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;

  @media screen {
    @media (orientation: portrait) {
      padding-top: 20vh;
    }

    @media (orientation: landscape) {
      padding-top: 25vh;
    }
  }
}

body .content .card {
  height: 60vw;
  display: flex;
  margin-bottom: 30px;
  background: #4b9e6e;

  color: white;
  text-decoration: none;


  @media screen {
    @media (max-width: 400px) {
      width: 80vw;
      max-height: 40vw;

      h3{
        font-size: 3vw;
      }

      p{
        font-size: 1.8vw;
      }

      img {
        max-height: 40vw;
      }
    }

    @media (max-width: 900px) {
      width: 80vw;
      max-height: 40vw;

      h3{
        font-size: 3vw;
      }

      p{
        font-size: 2vw;
      }

      img {
        max-height: 40vw;
      }
    }

    @media (min-width: 900px) and (max-width: 1200px){
      width: 70vw;
      max-height: 36vw;

      h3{
        font-size: 3vw;
      }

      p{
        font-size: 1.7vw;
      }

      img {
        max-height: 36vw;
      }
    }

    @media (min-width: 1200px) and (max-width: 1500px){
      width: 60vw;
      max-height: 33vw;

      h3{
        font-size: 2vw;
      }

      p{
        font-size: 1.5vw;
      }
      img {
        max-height: 33vw;
      }

    }

    @media (min-width: 1500px){
      width: 50vw;
      max-height: 30vw;

      h3{
        font-size: 1.9vw;
      }

      p{
        font-size: 1.2vw;
      }

      img {
        max-height: 30vw;
      }
    }
  }

  .text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;



  }
}

p.warning {
  color: yellow;
  font-style: italic;
}

p.info {
  color: cyan;
  font-style: normal;
}